$white-color: #ffffff;
$background-color: #ffffff;
$primary-color: #2853E1;
$secondary-color: #E6EBF2;
$accent-color: #3fa0ef;
$accent-color-secondary: #ffe600;
$text-secondary-color: #B6BCC6;

$success-color: #30d158;
$error-color: #ff453a;
